<f:layout name="Default"/>

<f:section name="Main">
  <f:cObject typoscriptObjectPath="lib.sectionContent"/>
  <f:cObject typoscriptObjectPath="lib.pageResources"/>

</f:section>

<!-- footer section-->

<f:section name="Footer">
<footer class="page-footer grey darken-4">

 <div class="footer-copyright grey darken-4 center-align">
   <div class="container ">
   <div class="row">
     <ul class="list-inline">
       <li><a href="#" class=""><i class="header-icon fab fa-linkedin fa-2x"></i></a></li>
       <li><a href="#"><i class="header-icon fab fa-xing-square fa-2x"></i></a></li>
       <li><a href="#"><i class="header-icon fab fa-github fa-2x"></i></a></li>
     </ul>
     © 2014 Copyright Text
   </div>
   </div>
 </div>
</footer>

<div class="fixed-action-btn scrolltop">
 <div class="scroll">
   <a class="btn-floating btn-large custom-grey">
     <i class="large material-icons scrolltop-icon">expand_less</i>
   </a>
 </div>
</div>
</f:section>
